<!DOCTYPE html>
{% load static %}
{% load gravatar %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MovieGeng</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.ico'%}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png'%}" rel="apple-touch-icon">

  
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Boxicon CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'base:home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'images/favicon-32x32.png' %}" alt="logo">
        <span class="d-none d-lg-block">MovieGeng</span>
      </a>
      <i class='bx bx-menu toggle-sidebar-btn'></i>
    </div><!-- End Logo -->

    
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" action="{% url 'base:movie-list' %}">
        <input name="w" placeholder="Search our reviews">
        <button type="submit" title="Search"><i class="bx bx-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bx bx-search"></i>
          </a>
        </li>
        <!-- End Search Icon -->
        
        
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">          
              <a class="nav-link nav-profile d-flex align-items-center" data-bs-toggle="dropdown">
                <img src="{% gravatar_url request.user.email 150 %}" alt="Profile-pic" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">@{{request.user.username}}</span>
              </a><!-- End Profile Image Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'base:user-profile' user.id %}">
                    <i class="bx bx-user"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'base:logout' %}">
                    <i class='bx bx-exit' ></i>
                    <span>Sign Out</span>
                  </a>
                </li>

              </ul><!-- End Profile Dropdown Items -->

            
              <!-- End Profile Image Icon -->            

            
          </li><!-- End Profile Nav -->
        {% else %}
            <a class="nav-link nav-profile d-flex align-items-center pe-5" href="{% url 'base:login' %}">
              <span>Login</span>
            </a>
        {% endif %}
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  {% if messages %}
    <ul class="messages message">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
    </ul>
  {% endif %}

  {% block content %}

  {% endblock %}

</body>

{% include "base/footer.html" %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class='bx bx-up-arrow-alt'></i>
</a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>



</html>



