{% extends "base.html" %}

{% block content %}
<main id="main" class="main">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered"> 
                            <li class="nav-item">
                                <h5>Delete <span class="fst-italic">{{object}}</span></h5>
                            </li>
                        </ul>
                        
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview">
                                <div class="row">
                                    <form class="" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                                <div class="col-lg-12 col-md-4 label">
                                                    <label for="movie">Do you want to delete {{object}}?</label>
                                                </div>  
                                        </div>

                                        <div>
                                            <a href="{{ request.META.HTTP_REFERER }}"><i class='back-icon bx bx-arrow-back'></i></a>
                                            <button class="submit-btn btn btn-danger" type="submit">Delete</button>
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

