<div>
    <h3>Ratings</h3>
    <p class="small">
        <p><a href="{% url 'base:movie-list' %}"><small>All: {{total_movie_reviews}}</small></a></p>
        <p><a href="{% url 'base:movie-list' %}?w=great"><small>Great: {{great_percent}}%</small></a></p>
        <p><a href="{% url 'base:movie-list' %}?w=good"><small>Good: {{good_percent}}%</small></a></p>
        <p><a href="{% url 'base:movie-list' %}?w=average"><small>Average: {{average_percent}}%</small></a></p>
        <p><a href="{% url 'base:movie-list' %}?w=fair"><small>Fair: {{fair_percent}}%</small></a></p> 
        <p><a href="{% url 'base:movie-list' %}?w=poor"><small>Poor: {{poor_percent}}%</small></a></p>
    </p>
</div>