{% extends "base.html" %}

{% block content %}
<main id="main" class="main">
  
    
  
    <section class="section dashboard">
      <div class="row">
        {% include "base/rooms_pane.html" %}
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
                <div class="card-body">
                  <div class="room-top">
                    <a href="{{ request.META.HTTP_REFERER }}"><i class='bx bx-arrow-back'></i></a>
                    <div>
                      {% if request.user == room.host %}
                        <a href="{% url 'base:update-room' room.id%}"><i class='bx bx-edit-alt'></i></a>
                        <a href="{% url 'base:delete-room' room.id%}"><i class='bx bx-x'></i></a>
                      {% endif %}
                    </div>
                    
                  </div>
                  <!-- End Room Header -->
                  
                  
                  <div class="pagetitle">
                    <h1>{{room.name}}</h1>
                    <span class="room-date small fst-italic">Created {{room.created_at|timesince}} ago</span>
                  </div>
                
                  <p>Hosted by</p>
                  <a href="{% url 'base:user-profile' room.host.id %}"><img class="room-avatar rounded-circle" src="{{room.host.avatar.url}}" alt="Profile-pic">
                    @{{room.host.username}}
                  </a>
                  <p class="small fst-italic">{{room.description}}</p>
                  <p>Movie: <span class="room-movie">{{room.movie}}</span></p>
                  <!-- End Room Title -->
                </div>

                <div class="col-12">
                
                    <div class="chat-box card recent-sales overflow-auto">
                        <div class="card-body">
                          {% for message in messages %}
                            <div>
                                <a href="{% url 'base:user-profile' room.host.id %}"><img class="room-avatar rounded-circle" src="{{message.writer.avatar.url}}" alt="Profile-pic">
                                    @{{message.writer.username}}
                                </a>
                                <span class="room-date small fst-italic">{{message.created_at|timesince}} ago</span>
                            </div>
                            <p class="small fst-italic">{{message}}</p>
                            <hr>
                          {% endfor %}  
                        </div>

                        {% if user.is_authenticated %}
                          <div>
                              <form method="post">
                                  {% csrf_token %}
                                  <input class="chat-textbox" type="text" placeholder="Enter your message here" name="message">
                              </form>
                          </div>
                        {% endif %}

                    </div>
                </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

        {% include "base/participants.html" %}

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}