<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link">
          <i class='bx bx-conversation'></i>
          <span>ROOM LIST</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      {% for room in rooms %}
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" href="{% url 'base:room-detail' room.id %}">
            <span>{{room.name}}</span>
          </a>
        </li>
      {% endfor %}
      <!-- End Great Nav -->
</aside>