{% extends "base.html" %} 
{% load gravatar %}

{% block content %}
<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      {% include "base/ratings.html" %}
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="card-body">
          <div class="room-top">
            <a href="{{ request.META.HTTP_REFERER }}"
              ><i class="bx bx-arrow-back"></i
            ></a>
            <div>
              {% if request.user == room.host %}
              <a href="{% url 'base:update-room' room.id%}"
                ><i class="bx bx-edit-alt"></i
              ></a>
              <a href="{% url 'base:delete-room' room.id%}"
                ><i class="bx bx-x"></i
              ></a>
              {% endif %}
            </div>
          </div>
          <!-- End Room Header -->

          <div class="pagetitle room-div row">
            <h1 class="col-6">{{room.name}}</h1>
            <span class="room-date small fst-italic col-6">Created {{room.created_at|timesince}} ago</span>
          </div>

          <div class="room-div row">
            <h5 class="col-6">Hosted by</h5>
            <a class="room-date col-6" href="{% url 'base:user-profile' room.host.id %}">
              <img
                class="room-avatar rounded-circle"
                src="{{room.host.avatar.url}}"
                alt="Profile-pic"/>
              @{{room.host.username}}
            </a>
          </div>
          
          <p class="small fst-italic room-div">{{room.description}}</p>

          <div class="row">
            <h5 class="room-div col-6">Movie:</h5>
            <span class="room-div room-movie col-6 room-date">{{room.movie}}</span>
          </div>
        
          <!-- End Room Title -->
        </div>

        <div class="col-12">
          <div class="chat-box card recent-sales overflow-auto">
            <div class="card-body">
              {% for message in messages %}
              <div>
                <a href="{% url 'base:user-profile' room.host.id %}"
                  ><img
                    class="room-avatar rounded-circle"
                    src="{% gravatar_url message.writer.email 150 %}"
                    alt="Profile-pic"
                  />
                  @{{message.writer.username}}
                </a>
                <span class="room-date small fst-italic"
                  >{{message.created_at|timesince}} ago</span
                >
              </div>
              <p class="small fst-italic">{{message}}</p>
              <hr />
              {% endfor %}
            </div>

            {% if user.is_authenticated %}
            <div>
              <form method="post">
                {% csrf_token %}
                <input
                  class="chat-textbox"
                  type="text"
                  placeholder="Enter your message here"
                  name="message"
                />
              </form>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- End Recent Sales -->
      </div>
      <!-- End Left side columns -->

      {% include "base/participants.html" %}
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
