{% load gravatar %}
<main id="main" class="main">
    
    <div class="pagetitle">
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <div class="row">
            
              <h1 class="col-6">Rooms</h1>
              <a class="room-btn col-6" href="{% url 'base:create-room' 0 %}"><i class='bx bx-plus'></i></a>
            </div>
          </div>
          <h6 class="small fst-italic">{{rooms.count}} rooms available</h6>
        </div>
        
     

      
      
    </div><!-- End Page Title -->
    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
                <!-- Recent Sales -->
                <div class="col-12">
                {% for room in rooms %}
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <div class="row">
                              <a class="col-6" href="{% url 'base:user-profile' room.host.id %}"><img class="room-avatar rounded-circle" src="{% gravatar_url room.host.email 150 %}" alt="Profile-pic">
                                  @{{room.host.username}}
                              </a>
                              <span class="room-date small fst-italic col-6">{{room.created_at|timesince}} ago</span>
                            </div>
                            
                            <h5 class="room-title card-title"><a href="{% url 'base:room-detail' room.id %}">{{room.name}}</a></h5>

                            <div class="row">
                              <p class="col-6">Movie being discussed: <span class="room-movie">{{room.movie.name}}</span></p>
                              <a class="col-6" href="{% url 'base:movie-list' %}?w={{room.movie.name}}"><img class="movie-thumbnail" src="{{room.movie.img_url}}" alt="movie-img"></a>
                            </div>
                            
                            
                            
                            <p class="small fst-italic">{{room.description}}</p>
                            <hr>
                            <p><i class='bx bx-group'></i>{{room.participants.count}} participant(s)</p>

                        </div>

                    </div>
                {% endfor %}

                </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

        {% include "base/activities.html" %}

      </div>
    </section>

</main><!-- End #main -->