{% extends "base.html" %}
{% load humanize %}

{% block content %}
    {% for movie in movies %}
        <div class="container">
            <img src="{{movie.img_url}}" alt="{{movie.name}} img" width="300" height="300">
        </div>

        <div class="container">
            <h3>{{movie.name}}</h3>
        </div>
        
        <div class="container">
            <p>Budget: ${{movie.budget|intcomma}}</p> 
            <p>Genres: {{movie.genres}}</p> 
            <p>Release Date: {{movie.release_date}}</p> 
            <p>Plot: {{movie.plot}}</p>
            <p>Revenue: ${{movie.revenue|intcomma}}</p> 
            <hr>
        </div>

        <!-- if user is logged in -->

        <div class="container">
            <h3>Update your rating</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="rating">Rating</label>
                    {{form.rating}}
                </div>

                <div>
                    <label for="review">Review</label>
                    {{form.review}}
                </div>
                

                <div>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    
                </div>
            </form>
            
            
            <!-- include rate and review button -->
            
        </div>
    {% endfor %}

{% endblock %}