{% extends "base.html" %}
{% load gravatar %}
{% block content %}


  <!-- ======= Sidebar ======= -->
  
    {% include "base/ratings.html" %}
  
  <!-- End Sidebar-->


  <main id="main" class="main">
    <div class="search-main">
      <div class="pagetitle">
        <h1>Profile</h1>
      </div><!-- End Page Title -->
  
      <section class="section profile">
        <div class="row">
          {% if not form %}
            <div class="col-xl-4">
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="{% gravatar_url user.email 150 %}" alt="Profile-pic" class="rounded-circle">
                  <h2>@{{user.username}}</h2>
                  <h3 class="fst-italic"><strong>{{rank}}</strong></h3>
                  {% if rank == "Recruit" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% elif rank == "Sergeant" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% elif rank == "Lieutenant" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% elif rank == "Captain" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% elif rank == "Major" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% elif rank == "Colonel" %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% else %}
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                    <i class='bx bxs-star' style='color:#D4AF37;'></i>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                {% if form %}
                  <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                      <h6 class="">Update your details</h6>
                    </li>
                  </ul>
                  
                  <div class="tab-content pt-2">
  
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                      <form method="post">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Firstname</div>
                          <div class="col-lg-9 col-md-8">{{form.first_name}}</div>
                        </div>
  
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Lastname</div>
                          <div class="col-lg-9 col-md-8">{{form.last_name}}</div>
                        </div>
  
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Email</div>
                          <div class="col-lg-9 col-md-8">{{form.email}}</div>
                        </div>
  
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Username</div>
                          <div class="col-lg-9 col-md-8">{{form.username}}</div>
                        </div>
  
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Bio</div>
                          <div class="col-lg-9 col-md-8 fst-italic">{{form.bio}}</div>
                        </div>
  
                        {% comment %} <div class="row">
                          <div class="col-lg-3 col-md-4 label">Avatar</div>
                          <div class="col-lg-9 col-md-8 fst-italic">{{form.avatar}}</div>
                        </div> {% endcomment %}
      
                        <div>
                          <a href="{{ request.META.HTTP_REFERER }}"><i class='back-icon bx bx-arrow-back'></i></a>
                          <input type="submit" class="submit-btn card-btn btn btn-outline-success" value="Update">
                        </div>
                      </form>
                    </div>
                {% else %}
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">
  
                    <li class="nav-item">
                      <h6 class="">About</h6>
                    </li>
                    <li>
                      {% if request.user == user %}
                        <a href="{% url 'base:user-update'%}"><i class='edit-icon bx bxs-edit-alt'></i></a>
                      {% endif %}
                    </li>
  
                  </ul>
                  
                  <div class="tab-content pt-2">
  
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      <p class="small fst-italic"></p>
  
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Full Name</div>
                        <div class="col-lg-9 col-md-8">{{user.first_name}} {{user.last_name}}</div>
                      </div>
  
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Bio</div>
                        <div class="col-lg-9 col-md-8 fst-italic">{{user.bio}}</div>
                      </div>
  
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Reviews</div>
                        <div class="col-lg-9 col-md-8">{{review_count}}</div>
                      </div>
  
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Rank</div>
                        <div class="col-lg-9 col-md-8 fst-italic"><strong>{{rank}}</strong> 
                            {% if rank == "Recruit" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% elif rank == "Sergeant" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% elif rank == "Lieutenant" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% elif rank == "Captain" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% elif rank == "Major" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% elif rank == "Colonel" %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% else %}
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                              <i class='bx bxs-star' style='color:#D4AF37;'></i>
                            {% endif %}
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Rooms</div>
                        <div class="col-lg-9 col-md-8">{{room_count}}</div>
                      </div>
  
                    </div>
                  </div>
                  <!-- End Bordered Tabs -->
                {% endif %}
              </div>
            </div>
  
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->
{% endblock %}