{% extends "base.html" %}

{% block content %}
    {% if form %}

        <div class="container">
            <h2>Edit your profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% for field in form %}
                    {% csrf_token %}
                    <p>{{field.label}}</p>
                    <p>{{field}}</p>
                {% endfor%}
                <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                <input type="submit" value="Update">
            </form>
            

        </div>
    {% else %}

    {% include "base/ratings.html" %}

    <div class="container">
        <div>
            <img src="{{user.avatar.url}}" alt="{{user.username}} image" srcset="">
        </div>

        <div>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>@{{user.username}}</p>
        </div>

        {% if request.user == user %}
            <a href="{% url 'base:user-update'%}">Edit Profile</a>
        {% endif %}

        <div>
            <h3>About</h3>
            <p>{{user.bio}}</p>
        </div>

        <div>
            <h3>Rooms Hosted by @{{user.username}}</h3>
        </div>
    </div>

    {% include "base/activities.html" %}

    {% endif %}


{% endblock %}